*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-image: url("img/fundo.png");
    background-size: cover;        /* faz a imagem cobrir toda a tela */
    background-position: center;   /* centraliza a imagem */
    background-repeat: no-repeat;  /* evita repetição */
    height: 100vh;                 /* garante altura total da tela */
    margin: 0;
}

#content {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: auto;
    width: 400px;
}

img.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
  font-family: "Segoe UI", "Roboto", sans-serif;
  font-weight: 700; /* bold */
  font-variant-numeric: lining-nums tabular-nums;
}

p {
  font-family: "Segoe UI", "Roboto", sans-serif;
  font-weight: 400; /* normal */
  font-variant-numeric: lining-nums tabular-nums;
}
label {
    display: block;
    margin-top: 20px;
    text-align: left;
    display: block;;
}
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
     border: 1px solid #008542; 
    border-radius: 4px;
}

input:focus {
  border-color: #008542 ; 
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 133, 66, 0.5);
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #008542;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #006f32;
}
a {
    display: block;
    margin-top: 20px;
    color: #008542;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

