@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

main {
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #155dfc;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #155dfc;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: stretch;
}

#grafico, #alertas {
    flex: 1 1 0;
    min-width: 280px;
    height: 440px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e3e9f7;
    text-align: left;
}

#grafico {
    margin-top: 40px;
}

#alertas {
    margin-top: 40px;
}

#grafico h5, #alertas h4 {
    font-size: 18px;
    margin: 20px;
}

.card {
  width: 100%;
  min-height: 200px;
  height: 200px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  color: #524f4f;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e3e9f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
}
.card h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.card-value {
  font-size: 32px;
  font-weight: bold;
}

#card-1 p{
    color: #f54a00;
}

#card-2  {
    color: #155dfc;
}

canvas{
    display: block;
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    padding: 0;
    margin-top: 1px;
}

#myChart {
    width: 100%;
    height: 300px;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

#Alertas {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e3e9f7;
    height: 400px;
    width: 930px;
}

.alert {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff0f0;
    border: 1px solid #f54a00;
    width: 95%;
    margin-left: 30px;
    
}
.alert i {
    font-size: 24px;
}

.conteine-grafico{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filho{
    flex: 1 1 0;
    margin-top: 40px;
    min-width: 280px;
}