<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style/deshboard.css">
    <title>Dashboard</title>
</head>
<body>
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT11ii7P372sU9BZPZgOR6ohoQbBJWbkJ0OVA&s" id="user_avatar" alt="Avatar">
    
                <p id="user_infos">
                    <span class="item-description">
                        Fulano de Tal
                    </span>
                    <span class="item-description">
                        Lorem Ipsum
                    </span>
                </p>
            </div>
    
            <ul id="side_items">
                <li class="side-item active">
                    <a href="#">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Dashboard
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="#">
                        <i class="fa-solid fa-circle-plus""></i>
                        <span class="item-description">
                            Novo Chamado
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="#">
                        <i class="fa-solid fa-ticket"></i>
                        <span class="item-description">
                            Chamados
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="#">
                        <i class="fa-regular fa-file-lines"></i>
                        <span class="item-description">
                            Contratos
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="#">
                        <i class="fa-solid fa-clipboard-list"></i>
                        <span class="item-description">
                            Atendimentos
                        </span>
                    </a>
                </li>
                
                <li class="side-item">
                    <a href="#">
                        <i class="fa-solid fa-chart-column"></i>
                        <span class="item-description">
                            Relatórios
                        </span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="#">
                        <i class="fa-solid fa-gear"></i>
                        <span class="item-description">
                            Configurações
                        </span>
                    </a>
                </li>
            </ul>
    
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <button id="logout_btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </button>
        </div>
    </nav>

    <main>
        <h1>Dashboard</h1>
        <p>Visão geral do sistema de atendimento</p>

        <div id="cards">
            <div class="cards-row">
                <div class="card" id="card-1">
                    <div class="card-icon">
                        <i class="fa-solid fa-ticket" style="color: #f54a00;"></i>
                    </div>
                    <h4>Chamados Abertos</h4>
                    <p class="card-value">2</p>
                </div>

                <div class="card" id="card-2">
                    <div class="card-icon">
                        <i class="fa-regular fa-clock" style="color: #155dfc;"></i>
                    </div>
                    <h4>Em Andamento</h4>
                    <p class="card-value">5</p>
                </div>

                <div class="card" id="card-3">
                    <div class="card-icon">
                        <i class="fa-regular fa-square-check" style="color: #00a63e;"></i>
                    </div>
                    <h4>Concluídos</h4>
                    <p class="card-value">2</p>
                </div>

                <div class="card" id="card-4">
                    <div class="card-icon">
                        <i class="fa-solid fa-file-contract" style="color: #6b6b6b;"></i>
                    </div>
                    <h4>Contratos Ativos</h4>
                    <p class="card-value">3</p>
                </div>
            </div>
        </div>
            <div class="conteine-grafico">
            <div id="grafico" class="filho">
                <h5>Chamados por Status</h5>
                <canvas id="myChart"></canvas>
            </div>

            <div id="alertas" class="filho">
                <h4>Alertas</h4>
                <div class="alert">
                    <i class="fa-solid fa-triangle-exclamation" style="color: #f54a00;"></i>
                    <h3>Chamado #1234 - Urgente</h3>
                    <p>O chamado #1234 está aguardando resposta há mais de 48 horas. Por favor, verifique e tome as medidas necessárias.</p>
                </div>
            </div>
        </div>
        
</main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="javascript/deshboard.js"></script>
</body>
</html>